@import "src/scss/size.scss";

.prizeLayout {
    @include resD((
        display: flex,
        justify-content: center,
        flex-direction: row,
        align-items: center,
        margin-top: hs(40px),
        margin-left: 40px
    ));
    @include resSm((
        display: flex,
        justify-content: center,
        flex-direction: column,
        align-items: center,
        width: 100%,
        margin-top: hs(40px),
        margin-left: 40px
    ));
}



.texts__load{ 
    @include resSm((
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
        background-color: #ffffff,
        margin: 50px 20px,
        border-radius: 20px,
    ));
    @include resD((
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
        background-color: #ffffff,
        margin: 50px 20px,
        border-radius: 20px,
    ));
}

.titles {
    @extend .texts__load;
    @include resSm((
        height: 55px,
        width: 490px,
    ));
    @include resD((
        height: 70px,
        width: 580px,
    ));
}

.all__texts {
    @extend .texts__load;
    @include resSm((
        height: 45px,
        width: 440px,
    ));
    @include resD((
        height: 60px,
        width: 520px,
    ));
}

.gift_card__speakers_1 {
    @include resSm((
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
        background-color: #ffffff,
        height: 350px,
        width: 700px,
        margin-left: 20px,
        border-radius: 20px,
    ));
    @include resD((
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
        background-color: #ffffff,
        height: 420px,
        width: 640px,
        margin-left: 40px,
        margin-right: 160px,
        border-radius: 20px,
    ));
}

.gift_card__speakers_2 {
    @include resSm((
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
        background-color: #ffffff,
        height: 350px,
        width: 600px,
        margin-left: 20px,
        border-radius: 20px,
        display: none
    ));
    @include resD((
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
        background-color: #ffffff,
        height: 420px,
        width: 640px,
        margin-left: 40px,
        border-radius: 20px,
        display: block
    ));
}
.eventName-loader{
  @include resD((
      height: 35px,
      width: 300px,
      margin-bottom: 10px,
    ));
    @include resM((
      height: 25px,
      width: 200px,
      margin-bottom: 20px,
    ));
  z-index: 3;
}
.eventSummary-loader{
@include resD((
      height: 35px,
      width: 90%,
      max-width: 600px,
    ));
    @include resM((
      height: 25px,
      width: 90%,
      max-width: 600px,
    ));
  z-index: 3;
}
.eventDetails-loader{
    @include resD((
      height: 35px,
      width: 300px,
    ));
    @include resM((
      height: 25px,
      width: 200px,
    ));
  z-index: 3;
}

.eventRegisterButton-loader{
    @include resD((
      font-size: 19px,
      border-radius: 28.9122px,
      width: 180px,
      padding: 8px 20px,
      margin-top: 25px,
      margin-left:5px,
      height: 55px,
    ));
    @include resM((
      border-radius: 21.6842px,
      width: 140px,
      margin-top: 15px,
      margin-left:5px,
      padding: 8px 12px 8px 16px,
      font-weight: 500,
      font-size: 14px,
      height: 40px,
    ));
    & svg{
        border-radius: 50px;
        height: 100%;
        width: 100%;
    }
}

.eventOverview-details{
    @include resD((
      margin-top: 25px,
    ));
    @include resM((
      margin-top: 15px,
    ));
}
.eventDetails-text{
    @include resD((
      margin-top: 25px,
      height: 40px,
      max-width: 300px,
      width: 90%,
    ));
    @include resM((
      margin-top: 15px,
      max-width: 300px,
      width: 90%,
    ));
}

.eventDetails-giftCard{
    @include resD((
      border-radius: 24px,
      width: 451px,
      height: 302px,
      margin-top: 80px,
      background: #fafafa,
      margin-right: 105px,
    ));
    @include resM((
      border-radius: 16px,
      width: 100%,
      height: 205px,
      margin-top: 32px,
      background: #fafafa,
      margin-left: unset,
    ));
}

.eventDetails-joinReason-loader{
    @include resD((
      height: 40px,
      width: 269px,
      margin-bottom: unset
    ));
    @include resM((
      height: 20px,
      width: 269px,
      margin-bottom: 36px
    ));
}

.eventDetails-joinReason-boxLoader{
    @include resD((
        width: 426.95px,
        height: 300px,
        border-radius: 24px,
        margin: 40px,
        margin-top: 56px,
        margin-bottom: 36px,
        padding: unset,
    ));
    @include resM((
        width: 100%,
        height: fit-content,
        border-radius: 16px,
        margin-left:unset,
        margin-bottom: 12px,
        padding: 10px 0,
    ));
}