@import "src/scss/size.scss";
@import "src/scss/Inter.scss";
@import "src/scss/theme/colors.scss";
@import "../../variables/_variables.scss";
@import "../../mixins/_mixins.scss";

.resetLinkStyle{
    text-decoration: none;
    display: inline-block;
    margin-right:40px,
}
.classroomsContainer{
    @include resD1280((
        padding:24px 32px 72px 12px
    ));
    font-family: 'Inter';
}

.headerContainer{
    @include resD((
        margin-bottom:16px
    ))
}
.heading {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: $tekie-black-90;
    @include resD1280((font-size:18px))
}
.classroomCardContainer{
    position: relative;
    overflow: hidden;
    transition: 0.1s ease-in;
    @include resD1280((
            padding:12px 14px,
            border:1.5px solid $tekie-amethyst-35,
            border-radius: 12px,
            font-size:14px,
            font-weight:500,
            color:$tekie-black-60
    ));
    &:hover{
        color:$primary-color;
        box-shadow: 0px 2px 10px rgba(140, 97, 203, 0.1);
    }
}
.classroomCardContainer.biggerCard{
    @include resD1280((
        padding:20px 21px,
    ));
}
.sessionProgressBarContainer{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include resD((
        border-radius:12px
    ))
}
.classroomCardContainer:last-child{
    margin-right: 0
}
.gradeAndSectionContainer{
    @include flex(space-between,center);
}
@media only screen and (min-width:900px) and ( max-width: 1100px) {
    .classroomCardContainer{
            min-width: 5.5rem;
            max-width: 5.5rem;
    }
    .classroomCardForTraining{
        min-width: 7.5rem;
        max-width: 7.5rem;
    }
  }
@media only screen and (min-width:1100px) and ( max-width: 1350px) {
    .classroomCardContainer{
            min-width: 6.5rem;
            max-width: 6.5rem;
    }
    .classroomCardForTraining{
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
  }
@media only screen and (min-width:1350px) and (max-width:1700px){
    .classroomCardContainer{
            min-width: 7rem;
            max-width: 7rem;
    }
    .classroomCardForTraining{
        min-width: 9.5rem;
        max-width: 9.5rem;
    }
  }
@media only screen and (min-width:1700px){
    .classroomCardContainer{
            min-width: 7.75rem;
            max-width: 7.75rem;
    }
    .classroomCardForTraining{
        min-width: 9rem;
        max-width: 9rem;
    }
  }
.iconContainer{
    @include flex(center,center)
}
.timetableLoadingText{
    font-weight: 600;
}
.timetableCalendarLoaderBackdrop{
    position: absolute;
	left: 0px;
	top: 0px;
    background-color: #fff;
	height: 100%;
	width: 100%;
	z-index: 99;
    & span{
        position: absolute;
        top: 60%;
        left: 50%;
        width: 100%;
        font-family: 'Inter';
        text-align: center;
        transform: translate(-50%, -50%);
      }
}