@import "src/scss/size.scss";
@import "src/scss/theme/colors.scss";
@import "src/scss/theme/spacing.scss";

@mixin font-style(
  $font-family,
  $font-style,
  $font-weight,
  $line-height,
  $color
) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

.CredentialsPopupContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 99992;
  box-shadow: 0px 14.3902px 64.7561px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;  
  box-sizing: border-box;
  @include resD(
    (
      min-width: 478px,
      max-width: 70%,
      min-height: 260px,
      padding: $s-m $s-l $s-l $s-l,
      border-radius: 28.7805px,
    )
  );
  @include resMs(
      (
        min-width: 478px,
        max-width: 70%,
        min-height: 260px,
        padding: $s-s $s-l $s-l $s-l,
        border-radius: 28.7805px,
      )
    );
}

.modalHeading {
  color: #005773;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  @include resD(
    (
      font-size: 28px,
      line-height: 120%,
      margin-bottom: $s-xxs,
    )
  );
  @include resMs(
    (
      font-size: 28px,
      line-height: 120%,
      margin-bottom: $s-xxs,
    )
  );
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background: rgba(0, 87, 115, 0.2);
  z-index: 99991;
}
.uniqueKeyDescription {
  @include font-style(Nunito, normal, 400, 140%, #504F4F);
  width: fit-content;
  text-align: center;
  @include resD(
    (
      font-size: 18px,
      max-width: 382px,
      margin-bottom: 30px,
      margin-top: 12px,
    )
  );
  @include resMs(
    (
      font-size: 18px,
      max-width: 382px,
      margin-bottom: 30px,
    )
  );
}
.emailPassword {
  @include font-style(Nunito, normal, 400, 140%, #504F4F);
  opacity: 0.7;
  width: fit-content;
  margin: 0;
  @include resD(
    (
      font-size: 18px,
      width: 100%,
    )
  );
  @include resMs(
    (
      font-size: 18px,
      width: 90%,
    )
  );
}

.emailPasswordContainer {
  @include resD((
    min-width: 80%,
  ));
  @include resMs((
    min-width: 80%,
  ));
}

.emailContainer {
  @include resD((
    margin-bottom: 25px
  ));
  @include resMs((
    margin-bottom: 25px
  ));
}

.passwordContainer {
  @include resD((
    margin-bottom: 20px
  ));
  @include resMs((
    margin-bottom: 20px
  ));
}

.popUpButton {
  @include resD((
    min-width: 80%,
  ));
  @include resMs((
    min-width: 80%,
  ));
}
