@import "src/scss/theme/colors.scss";
@import "src/scss/theme/spacing.scss";
@import "src/scss/size.scss";

@mixin font-style(
  $font-family,
  $font-style,
  $font-weight,
  $line-height,
  $color
) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

.CredentialDisplayContainer {
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: rgba(0,87,115,0.05);
  height: fit-content;
  @include resD(
    (
      margin-block: 10px,
      border-radius: 4px,
      height: 45px
    )
  );
  @include resMs(
    (
      margin-block: 10px,
      border-radius: 4px,
      height: 45px
    )
  );
}
.credentialTextWrapper {
  flex: 1;
  margin-right: 10px;
  box-sizing: border-box;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  max-width: 100%;
  > h3 {
    max-width: 100%;
    @include font-style(Nunito, normal, 700, 140%, #504F4F);
    @include resD(
      (
        font-size: 18px,
        margin: 12px 0,
      )
    );
    @include resMs(
      (
        font-size: 18px,
        margin: 12px 0,
      )
    );
  }
  // @include resD((
  //   transform: translateY(0%) !important,
  // ));
  // @include resMs((
  //   transform: translateY(5%) !important,
  // ));
}
.credentialTextWrapper > h3::-webkit-scrollbar {
  height: 0px !important;
}
.credentialTextWrapper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
