@import 'src/scss/size.scss';
@import 'src/scss/lato.scss';
@import 'src/scss/Inter.scss';
@import 'src/scss/theme.scss';


.school-dashboard-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include resD((
    padding-bottom: 18px,
  ));
  @include resM((
    padding-bottom: 12px,
  ));
}

.school-dashboard-mentors-tableContainer {
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  background: #fff;
}

.school-dashboard-filters-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include resD((
    padding-bottom: 18px,
  ));
  @include resM((
    padding-bottom: 12px,
  ));
}

#school-dashboard-mentors-container {
	height: 100%;
	width: 100%;
	letter-spacing: 0.4px;
  position: relative;
  box-sizing: border-box;
     
    @include resD((
      padding: 28px 32px,
    ));
    @include resM((
      padding: 16px,
    ));
	& a:hover {
		color: #605959;
	}
}

.school-dashboard-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.school-dashboard-mentors-courseContainer,
.school-dashboard-mentors-ind-courseContainer {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px 0px 0px;
}

.school-dashboard-mentors-profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .school-dashboard-mentors-profilePic {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 12px;
  }
}

.school-dashboard-mentors-courseIcon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include resD((
    width: 35px,
    height: 35px,
    margin-right: 12px,
  ));
  @include resM((
    width: 28px,
    height: 28px,
    margin-right: 10px,
  ));
}

.school-dashboard-mentors-duration-desc {
  @include resD((
    font-size: 16px,
    padding-top: 8px,
  ));
  @include resM((
    font-size: 14px,
    padding-top: 4px,
  ));
}

.school-dashboard-mentors-rating-container {
  @extend .Inter-regular;
  background: #FEF6E6;
  color: #FAAD14;
  border-radius: 4px;
  width: fit-content;
  font-weight: 500;
  @include resD((
    font-size: 20px,
    padding: 4px 12px
  ));
  @include resM((
    font-size: 18px,
    padding: 4px 10px
  ));
  
  & > span {
    @include resD((
      font-size: 20px,
    ));
    @include resM((
      font-size: 18px,
    ));
    margin-right: 4px;
  }
}