@import "src/scss/size.scss";
@import "src/scss/theme/colors.scss";
@import '../../../../variables/_variables.scss';

.session_progress_heading {
    @include resD(
        (
            font-family: Inter,
            font-style: normal,
            font-weight: 600,
            font-size:18px,
            line-height: 18px,
            display: flex,
            align-items: center,
            color: #424242,
            margin-bottom:30px,padding-top: 20px
        )
    );
    @include resSm(());
}
.sessions_recording {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    @include resD(
        (
            font-size: 18px,
        )
    );
    line-height: 18px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: $primary-color;
    cursor: pointer;
    margin-top: 14px;
}
.sessions_star{

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 10px;
color: #757575;
margin-right: 8px;
}
.sessions_otpImg{
    padding-bottom: 6px;
    padding-left: 3px;
}
.session_progress_container {
    @include resD(
        (
            width:93%,
            display: flex,
            align-items: flex-start,
            flex-direction: column,
            margin-left:0%,
            border-top:1px solid #EEEEEE,
            border-bottom:1px solid #EEEEEE,
            margin-top: 20px,
            padding-top: 25px,
            padding-bottom: 50px
        )
    );
    @include resSm(());
}
.session_progress_details_heading {
    @include resD(
        (
            width: 100%,
            display: flex,
            align-items: flex-start,
            justify-content: space-between,
            margin-bottom:30px
        )
    );
    @include resSm(());
}
.session_progress_details_desc {
    @include resD(
        (
            width: 100%,
            display: flex,
            align-items: flex-start,
            justify-content: space-between,
            margin-bottom:30px
        )
    );
    @include resSm(());
}
.headings_session_pro {
    @include resD(
        (
            font-family: Inter,
            font-style: normal,
            font-weight: normal,
            font-size: 16px,
            line-height: 12px,
            display: flex,
            align-items: center,
            color: #757575,
        )
    );
    @include resSm(());
}
.session_icon{
    @include resD(
        (
            height: 20px,
            width: 20px
        )
    );
}
.sessions_heading1{
    font-family: Inter;
font-style: normal;
font-weight: normal;
@include resD(
        (
            font-size: 16px,
        )
    );
line-height: 12px;
color: #757575;
padding-top: 4px;
padding-bottom: 8px;
}
.sessions_heading2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    @include resD(
        (
            font-size: 18px,
        )
    );
    line-height: 17px;
    color: #282828;
    margin-top: 12px;
}
.headings_session_desc {
    @include resD(
        (
            font-family: Inter,
            font-style: normal,
            font-weight: 500,
            font-size: 18px,
            line-height: 17px,
            display: flex,
            align-items: center,
            color: #424242,
        )
    );
    @include resSm(());
}
