@import "src/scss/theme/colors.scss";
@import "src/scss/size.scss";
@import "../../../../../../variables/_variables.scss";

$primary-color-dark: $primary-color-110;

.ModalHeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  background: #faf7ff;
  @include resD(
    (
      border-radius:16px 16px 0 0,
      // border-top-left-radius: 16px,
      // border-top-right-radius: 16px,
      padding: 16px,
    )
  );
  @include resMs(
    (
      border-radius:16px 16px 0 0,
      // border-top-left-radius: 16px,
      // border-top-right-radius: 16px,
      padding: 16px,
    )
  );
  > svg:first-child {
    color: #8c61cb;
  }
  > div {
    margin-left: auto;
  }
  > h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    margin-left: 7%;
    @include resD(
      (
        font-size: 18px,
      )
    );
    @include resMs(
      (
        font-size: 18px,
      )
    );
  }
}
.closeIconContainer{
  cursor: pointer;
  &:hover {
    background: $primary-color-dark;
    color: white;

    & svg > path {
        fill: white !important;
    }
}
@include resD((
        padding: 0px 7px 3px 7px,
        border-radius: 6px,
    ));
    @include resM((
        padding: 0px 4px 1.5px 4px,
        border-radius: 3px,
    ));
}