@import '../../mixins/_mixins.scss';
@import '../../variables/_variables.scss';
@import 'src/scss/Inter.scss';


.inputContainer{
    @include flex(space-between,center);
}

.timeTableSearch {
    background-color: white;
    border: 1px solid #eeeeee;
    padding:8px 9px;
    border-radius: 8px;
    outline: none;
    &:focus {
      // border: 1px solid $tekie-amethyst;
    border: 1px solid #eeeeee;
      box-shadow: 0 0 0 1px $primary-color;
    }
  }
  .iconContainer{
      position: relative;
      right: 1.5rem;
      top:2px
  }