@import 'src/scss/size.scss';
@import 'src/scss/theme/colors.scss';

.header__container{
    background-color:black;
    width:100%;
    height: 88px;
}

.lp-header-container {
  position: fixed;
  width: 100vw;
  z-index: 9999;
  top: 0;
}
  .lp-header {
    width: 100%;
    font-family: Gilroy;
    @include resD((
      height: 88px,
      flex-direction: unset,
      padding-left: 182px,
      padding-right: 182px,
      box-sizing: border-box,
      margin: unset,
      padding-top: unset,
      padding-bottom: unset,
    )
  );
  @include resSm(
    (
      height: 42px,
      padding: 10px 30px,
      margin: auto,
    )
  );
  background: #010101;
  color: #ffffff;
  display: flex;
  align-items: center;
}
  /* logo */
   .lp-header-logo-img {
    @include resD((
      width: 107.8px,
      height: 40.96px,
    ));
    @include resSm((
      width: 70px,
      height: 28px,
    ));
   }
  
  /* menu */
  
  .lp-header-navlinks {
    @include resD((
      margin-left: 15px,
      display: flex,
      flex-direction: row,
      
    ));
    @include resSm((
      display: none,
    ));
   }
  .lp-header-navbar-button {
    font-family: Gilroy;
    background: none;
    border: none;
    padding-right: 18px;
   }
  .lp-header-dropdown-menu {
    display: inline-block;
    margin-right: 15px;
  }
  .lp-header-menu-btn {
    display: flex;
    align-items: center;
    font-family: Gilroy;
    background: #000000;
    color: #ffffff;
    border:none;
    cursor: pointer;
    img {
      @include resD((
        width: 14px * 1.2,
        height: 8px * 1.2,
      ));
    }
  }
  .lp-header-menu-content {
    position: absolute;
    background: #252528;
    top: 0px;
    @include resD((
      box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.25),
      border-radius: 8px,
     
    ));
    transition: all 0.3s ease-in-out 0.3s;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
 
  // .lp-header-resources-dropdown-menu{
  //   display: inline-block;
  // }
  
  // .lp-header-menu-resources-content {
  //   display: none;
  //   position: absolute;
  //   padding: 24px;
  //   background: #252528;
  //   box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.25);
  //   border-radius: 8px;
  //   z-index: 1000;
  // }
  // .lp-header-menu-resources-btn {
  //   display: flex;
  //   align-items: center;
  //   background: #000000;
  //   color: #ffffff;
  //   border:none;
  //   cursor: pointer;
  // }
  
  .lp-header-link-container {
    @include resD((
      padding: 0px 24px,
    ));
    font-family: Gilroy;
    font-weight: bold;
    &:hover {
      background: #3B3B40;
    }
    &:hover .lp-header-link{
      background: -webkit-linear-gradient(#35E4E9, #00ADE6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    &:last-child .lp-header-dropdown-link {
      @include resD((
        border-bottom: none,
      ));
    }
  }
  
  .lp-header-link {
    @include resD((
      padding: 0px 16px,
      font-size: 22px,
      line-height: 26px,
      border-bottom: 1px solid black
     ));
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-weight: bold;
    cursor: pointer;
    font-feature-settings: 'salt' on, 'liga' off;
  }
  .lp-header-menu-content.open-events-header {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease-in-out;
    @include resD((
      top: 70px,
    ))
  }
  .open-events-header {
    display: block !important;
  }
  // #lp-header-resources-link:hover .lp-header-menu-resources-content {
  //   pointer-events: none;
  // }
  
  .lp-header-dropdown-link {
    @include resD((
      padding: 24px 0px,
      font-size: 22px,
      line-height: 26px,
      border-bottom: 2px solid rgba(255,255,2555,0.1)
    ));
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-weight: bold;
    cursor: pointer;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-feature-settings: 'salt' on, 'liga' off;
  }
  
  /* buttons */
  .lp-header-buttons {
    display: flex;
    justify-content: flex-end;
    @include resD((
      margin-right: unset,
      width: unset,
      margin-left: auto,
    ));
    @include resSm((
      margin-right: 15%,
      width: 57%
    ));
    .btn-sd-blue-container {
      @include resD((
        display: flex,
        height:56px
      ));
      @include resSm((
        display: none
      ));
    }
  }
    .btn-sd-blue-container span{
      @include resD((
        font-size:18px,   
        line-height: 25px,
          ));
      @include resSm((
      
      ));
    }
  
  .lp-header-login {
    @include resD((
      padding: 0px 24px 0px 28px,
      margin: 0px 17.9667px,
      border-radius: 29.6569px,
      font-size: 18px,
      background: #FFFFFF,
      color: #00ADE6,
      width: 98px,
      height: 56px,
      line-height:25px,
    ));
    @include resSm((
      font-weight: 900,
      font-size: 21px,
      background: none,
      color: #ffffff,
    ));
    box-sizing: border-box;
    cursor: pointer;
    font-family: Gilroy;
    font-weight: bold;
    line-height: 140%;
    border: none;
  }
  
  /* hamburger */
  
  .lp-header-hamburger {
    @include resD((
      display: none,
      margin-right: unset,
      cursor: unset,
      margin-top: 0px,
    ));
    @include resSm((
      display: block,
      margin-right: 12px,
      cursor: pointer,
      margin-top: -5px,
    ));
  }
  .lp-header-line {
    @include resSm((
      min-width: 27px,
      min-height: 3.4px,
      background: #ffffff,
      margin-top: 5px,
      border-radius: 2px
     ));
  }
  
  .lp-banner-container {
    width: 100%;
    @include resD((
      height: 50px,
      background: linear-gradient(91.72deg, #010101 4.51%, #C11207 47.06%, rgba(183, 23, 13, 0.66) 56.75%, #111010 91.23%)
    ));
    @include resSm((
      height: 53px,
      background: linear-gradient(91.43deg, #010101 1.43%, rgba(183, 23, 13, 0.66) 47.72%, #111010 98.99%)
    ));
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    
  }

.lp-header-space {
  @include resD(
    (
      height: 88px,
    )
  );
  @include resSm(
    (
      height: 60px,
    )
  );
}
  
  .lp-banner-valid-text {
    position: absolute;
    @include resD((
      font-size: 14px,
      right: 22px,
      bottom: 3px
    ));
    @include resSm((
      font-size: 7px,
      right: 22px,
      bottom: 3px
    ));
    color:white;
  }

  .btn-st-container {
    @include resD((
      padding: 16px 36px 16px 41px,
      border: 4px solid #00ADE6,
      border-radius: 30px,
    ));
    font-family: Gilroy;
    font-weight: bold;
    color: #00ADE6;
    box-sizing: border-box;
  }
  
  .btn-sd-container {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    @include resD((
      padding: 16px 36px 16px 41px,
      border-radius: 30px,
    ));
    @include resSm((
      padding: 16px 36px 16px 41px,
      border-radius: 30px,
    ));
    font-family: Gilroy;
    background: white;
    font-weight: bold;
    width: fit-content;
    color: #00ADE6;
    transition: 0.3s all ease-in-out;
    &:hover {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
      transform: scale(0.99);
      transform-origin: center;
    }
  
    box-sizing: border-box;
  }
  
  .btn-sd-blue-container {
    @include resD((
      padding: 15.5px 24px 15.5px 28px,
      border-radius: 30px,
      // margin-top: unset
    ));
    @include resSm((
      padding: 11px 46px 11px 50px,
      border-radius: 20px,
      // margin-top: 16px
    ));
    cursor: pointer;
    font-family: Gilroy;
    background: linear-gradient(280.79deg, #4099F7 2.79%, #00ADE6 98.42%);
    font-weight: 600;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    box-sizing: border-box;
    &:hover .btn-arrow  {
      transform: translateX(3px);
    }
  }
  
  .no-shadow {
    box-shadow: none;
  }
  .btn-arrow {
    flex: 0;
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    &.hide {
      display: none;
    }
  }
  .btn-arrow svg {
    @include resD((
      width: 13px,
      height: 13px,
      margin-left: 12px
    ));
    @include resSm((
      width: 10px,
      height: 10px,
      margin-left: 10px
    ));
  }
  
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
  }
  .loader {
    margin-right: 10px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.4em solid rgba(255, 255, 255, 0.2);
    border-right: 0.4em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
    border-left: 0.4em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    &.hide {
      display: none;
    }
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }