@import 'src/scss/size.scss';
@import 'src/scss/theme/colors.scss';

.EventFaq {
    @include resD((
        padding-top: 80px,
        padding-bottom: 80px
    ));
    @include resM((
        padding-top: 40px,
        padding-bottom: 40px
    ));
}

.head {
    font-style: normal;
        font-weight: 800;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.03em;
        color: #070D15;
    @include resD((
        font-size: 40px,
    ));
    @include resM((
        font-size: 25px,
    ));
    @include resSm((
        font-style: normal,
        font-weight: 800,
        font-size: 25px,
        line-height: 140%,
        text-align: center,
        letter-spacing: -0.03em,
        color: #403F3F,
    ));
}

.ques {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        color: #504F4F;
        position: relative;
        display: flex;
        justify-self: flex-start;
        align-items: flex-start;
        & span:last-of-type{
            margin-left: 5px;
        }
    @include resD((
        font-size: 24px,
        left: 10%,
        width: 60%,
        line-height: 140%,
    ));
    @include resM((
        font-size: 16px,
        left: 2%,
        width: 100%,
        line-height: 140%,
    ));
}

.ans {
    @include resD((
        font-style: normal,
        font-weight: bold,
        font-size: 22px,
        line-height: 140%,
        color: #504F4F,
        opacity: 0.7,
        flex: none,
        order: 0,
        flex-grow: 0,
        position: relative,
        left: 11%,
        width: 50%,
    ));
    @include resM((
        font-style: normal,
        font-weight: bold,
        font-size: 1px,
        line-height: 140%,
        color: #504F4F,
        opacity: 0.7,
        flex: none,
        order: 0,
        flex-grow: 0,
        position: relative,
        left: 3%,
        width: 400px,
    ))
}

.event-divider {
    @include resD((
        opacity: 0.3,
        border: 0.5px solid #000000,
        width: 60%,
        position: relative,
        left: 9.5%,
        margin:unset,
    ));
    @include resSm((
        opacity: 0.3,
        border: 0.5px solid #000000,
       
        width: 90%,
        position: relative,
        margin:auto,
    ));
}

.quests {
    @include resD((
        margin-top: 80px,
    ))
}