@import 'src/scss/size.scss';

.dropContainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 100%;
    border: 2px dashed lightgray;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover{
        border: 2px dashed gray;
    }
}
.dropInput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
}

.dropMessage{
    text-align: center;
    color: #4aa1f3;
    font-family: Arial;
    font-size: hs(20px);
}

.uploadIcon{
    width: hs(80px);
    height: hs(80px);
    background: url(../../../assets/icons/upload.svg) no-repeat center center; 
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: hs(30px);
}

.uploadText, .uploadTextDrop{
    font-size: hs(28px);
}


.fileDisplayContainer {
    position: fixed;
    width: 805px;
}

.fileStatusBar{
    width: 100%;
    vertical-align:top;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    line-height: 50px;
    height: 50px;
}

.fileStatusBar > div {
    overflow: hidden;
}

.fileType {
    display: inline-block!important;
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin-top: 25px;
    padding: 0 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #abc;
    color: #fff;
    background: #0080c8;
    text-transform: uppercase;
}

.fileName {
    display: inline-block;
    vertical-align:top;
    margin-left: 50px;
    color: #4aa1f3;
}

.fileError {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #9aa9bb;
}

.fileErrorMessage {
    color: red;
}

.fileTypeTogo {
    width: 50px;
    height: 50px;
    // background: url(../images/generic.png) no-repeat center center; 
    background-size: 100%;
    position: absolute;
}

.fileSize {
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    margin-left:10px;
    margin-right:5px;
    margin-left: 10px;
    color: #444242;
    font-weight: 700;
    font-size: 14px;
}

.fileRemove  {
    position: absolute;
    top: 20px;
    right: 10px;
    line-height: 15px;
    cursor: pointer;
    color: red;
    margin-right: -10px;
}

.thumbnailContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: hs(15px);
    & p{
        padding: 0 hs(20px);
        margin: 0;
        text-align: left;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .removeFile{
        height: hs(15px);
        width: hs(15px);
        cursor: pointer;
    }
}