@import "src/scss/size.scss";

$color-error: #ff5744;

.errorText {
	color: $color-error;
	font-family: "Nunito";
	font-style: normal;
	font-weight: 600;
	margin: 0;

	@include resD(
		(
			font-size: 14px,
			line-height: 140%,
		)
	);
}
