@import 'src/scss/size.scss';
@import 'src/scss/theme.scss';

.code-showcase-row {
  display: flex;
}

.code-showcase-stats {
  @include resD((
    padding: $s-l $s-l,
  ));
  @include resM((
    padding: $s-m 0,
  ));

  & > .row {
    position: relative;

    @include resD((
      display: flex,
    ));
    @include resM((
      display: block,
    ));
  }

  & .code-author-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    @include resD((
      margin: 0 0 $s-m
    ));
    @include resM((
      margin: 0
    ));
  }
  
  & .code-view-options {
    box-shadow: $box-shadow;

    @include resD((
      padding: .5rem,
      margin: 0rem 0rem .8rem,
    ));
    @include resM((
      padding: .4rem,
      margin: .4rem 0rem,
    ));
  
    & > .row {
      justify-content: flex-start;
    }
  
  }
  
  & .stats-code-s-section-link {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    color: $emperor-86;
    @include resD((
      padding: $s-xs $s-xm,
      font-size: 20px,
    ));
    @include resM((
      padding: $s-xs $s-m,
      font-size: 12px,
    ));
  
    > svg {
        fill: $emperor-86;
    }
    &:hover, &.active {
      opacity: 1;
      color: $deep-sky-blue;
      > svg {
        fill: $deep-sky-blue;
      }
      span {
        padding: hs($s-xs) 0px;
        border-bottom: 2px solid $deep-sky-blue;
      }
    }
  }
  
  
  & .divider, .code-showcase-divider {
    border-bottom: 1px solid $emperor-86;
    width: 95%;
    height: 2px;
    margin: hs($s-m) auto;
  }

  & .code-list-container {
    @include resD((
      width: 60vw
    ));
    @include resM((
      width: 100%
    ));
  }
  
  & .stats-code-container {
    margin-bottom: hs($s-m);
    min-width: 100%; 
    min-height: 100%;
  }
  
  & .code-showcase-block {
    position: relative;
    & > .code-showcase-row {
      @include resD((
        padding: $s-s $s-m,
        justify-content: flex-start,
        align-items: flex-start,
        flex-direction: row
      ));
      @include resM((
        padding: $s-xs 0,
        justify-content: center,
        align-items: center,
        flex-direction: column
      ));
    }
    & > .divider, .code-showcase-divider {
      display: none;
    }
  }
  
  & .code-author-details-top {
    color: $emperor;
    font-weight: normal;
    text-align: center;
    display: flex;
    flex-direction: row;
    
    & .author-profile-img-container {
      position: relative;
      justify-content: center;
      display:flex;
      & .profile-img {
        display: block;
        box-sizing: border-box;
        border-radius: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: top center !important;
        border: 2px solid $deep-sky-blue; 
        @include resD((
          width: 100px,
          height: 100px,
        ));
        @include resM((
          width: 70px,
          height: 70px,
        ));
      }
    }
  
    & .code-author-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 1rem;
    }
    & .code-author-name {
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
      
  
      @include resD((
        font-size: 22px
      ));
      @include resM((
        font-size: 18px
      ));
    }
    
    & .code-author-grade {
      opacity: 0.6;
      
      @include resD((
        line-height: 35px,
        font-size: 20px,
      ));
      @include resM((
        line-height: 18px,
        font-size: 16px
      ));
      letter-spacing: 1px;
    }
  
  }
  & .code-author-description {
    padding: 1rem;
    text-align: center;
  }
  
  & .code-showcase-author-details {
    color: $emperor;
    font-weight: normal;

    @include resD((
      width: 10vw,
      text-align: left
    ));
      @include resM ((
      text-align: center
    ));
  
    & .code-showcase-author-profile-img-container {
      width: 100%;
      height: 100%;
      justify-content: center;
      
      @include resD((
        display:block
      ));
  
      @include resM((
        display:flex
      ));
  
      & .code-showcase-profile-img {
        display: block;
        box-sizing: border-box;
        border-radius: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
  
        @include resD((
          width: 100px,
          height: 100px,
        ));
        @include resM((
          width: 70px,
          height: 70px,
        ));
      }
    }
  
    & .code-showcase-author-name {
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
      line-height: 32px;
      
      @include resD((
        margin-top: hs(10px),
        font-size: 22px
      ));
      @include resM((
        font-size: 18px
      ));
    }
    
    & .code-showcase-author-grade {
      line-height: 22px;
      opacity: 0.6;
  
      @include resD((
        font-size: 20px,
      ));
      @include resM((
        font-size: 16px
      ));
    }
  }
  
  & .t-code-trending {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  
    @include resD((
      font-size: 18px,
      margin: hs($s-m) hs($s-xm),
    ));
    @include resM((
      font-size: 12px,
      margin: hs($s-l),
    ));
  
    & > div > span {
      @include resD((
        display: block
      ));
      @include resM((
        display: none
      ))
    } 
  }
  
  & .code-showcase-details {
    width: 100%;
    box-sizing: border-box;
  
    @include resD((
      padding: 0px,
      margin-top: 0
    ));
    @include resM((
      padding: 0px $s-m,
      margin-top: $s-s
    ));
    
    & .code-showcase-title {
      margin: 0;
      color: $emperor;
      @include resD((
        font-weight: 600,
        line-height: $s-xxm,
        font-size: 26px,
      ));
      @include resM((
        font-weight: bold,
        line-height: $s-xm,
        font-size: 22px
      ))
    }
  
    & .code-showcase-timestamp {
      color: $emperor-66;
      font-family: inherit;
      font-weight: normal;
      letter-spacing: 0.03em;
      margin: 0;
      
      @include resD((
        font-size: 18px,
      ));
      @include resM((
        font-size: 16px,
      ));
    }
  
    & .code-showcase-description {
      text-align: justify;
      color: $emperor;
      margin: 0;
      margin-top: $s-xxs;
      @include resD((
        font-size: 20px,
      ));
  
      @include resM((
        font-size: 16px,
      ));
    }
  }

  .stats-header {
    @include resD((
      padding: $s-xs $s-s
    ));
    @include resM((
      padding: $s-xs
    ));
  }

  & .code-showcase-code-view {
    height: 13rem;
    padding: $s-s 0; 
    background: #002f3e;
    position: relative;
    
    @include resD((
      border-radius: 2px 20px 20px 20px,
      margin: .8rem 0rem 0rem, 
    ));
    @include resM((
      margin: .8rem .5rem 0rem, 
      border-radius: 2px,
    ));
  }
  
  & .code-showcase-details-footer {
    justify-content: space-between;
    align-items: center;
    @include resD((
      padding: $s-s 0
    ));
    @include resM((
      padding: $s-s
    ));
  
    & .code-showcase-reactions {
      user-select: none;
      min-width: hs($s-l);
      color: $emperor;
      text-align: center;
      border-radius: 100px;
      cursor: pointer;
      margin: 0 $s-xxs;
      
      @include resD((
        font-size: hs(18px),
        padding: $s-xs $s-m
      ));
      @include resM((
        font-size: 14px,
        padding: $s-xxs $s-s
      ));
  
      &.hot.active, &.hot:hover {
        background: #FFE2E0;
      }
      &.heart.active, &.heart:hover {
        background: #FCE3F2;
      }
      &.celebrate.active, &.celebrate:hover{
        background: rgba(249, 231, 63, 0.2);
      }
    }
  
    & .code-showcase-share-container {
      cursor: pointer;
  
      @include resD((
        font-size: hs(22px)
      ));
      @include resM((
        font-size: 18px
      ));
    }
  }
  
  & .code-showcase-tags {
    cursor: pointer;
    border: 1px solid $deep-sky-blue;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    color: $deep-sky-blue;
    transition: background-color .3s;
    
    @include resD((
      margin: hs($s-xs) hs($s-xs) hs($s-xxs) 0,
      font-size: hs(18px),
      padding: hs($s-xxs) hs($s-s),
    ));
    @include resM((
      margin: $s-xs $s-xs $s-xs 0,
      font-size: 16px,
      padding: $s-xxxs $s-s,
    ));
    
    & span {
      color: $emperor-66;
    }
    
    &:hover, &.code-showcase-tags-active {
      transition: background-color .3s;
      background-color: $deep-sky-blue;
      color: #fff;
      
      & span {
        color: #fff;
      }
    }
  }
  
  & .code-showcase-shareIcon {
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../../assets/shareCode.svg');
    
    @include resD((
      width: 17px,
      margin-right: hs(10px)
    ));
    @include resM((
      width: 15px,
      margin-right: hsm(8px)
    ));
  }
  
  & .trendingIcon {
    margin-right: 10px;
    display: block;
    position: relative;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../../assets/trending.svg');
  }
  
  & .uhohMsgContainer {
    margin-top: hs(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: hs(30px);
    font-weight: 600;
    color: $swamp;
    opacity: 0.6;

    
    @include resD((
      font-size: hs(30px)
    ));
    @include resM((
      font-size: 18px
    ));
  }
  
  & .emptyMsgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    color: $swamp;
    opacity: 0.5;
    line-height: 32px;
    
    @include resD((
      font-size: hs(26px)
    ));
    @include resM((
      font-size: 18px
    ));
  }
  
  & .mainContainer {
    width: 100%;
    padding: 1rem 0;
    top: 0 !important;
    background: none;
  }
  
  & .stats-container {
    position: sticky;
    top: 60px;
    padding: .5rem;
  
    @include resD((
      width: 13vw,
      margin: 0,
    ));
    @include resM((
      margin: $s-s,
    ));
    
    & > .divider, .code-showcase-divider { 
      margin: 0 0 .5rem 0;
    }
  
    & .tags-body {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;
      max-height: 50vh;
      padding: 0 $s-xxs $s-xs;
      
      & .uhohMsgContainer {
        margin: 0;
        font-size: hs(22px);
       }
    }
  
  }
  
  .stats-details {
    padding: .5rem .8rem;
    
    & .code-shared-details {
      color: $emperor;
      @include resD((
        font-size: 20px, 
      ));
      @include resM((
        font-size: 14px, 
      ));
      
      & > span {
        margin-right: .3rem;
        @include resD((
          font-size: hs(40px), 
        ));
        @include resM((
          font-size: 38px, 
        ));
      }
    }
  }

  .code-showcase-code-view #editor {
    width: inherit !important;
  }

  .code-showcase-code-view #editor1#editor1, div.interpretor[id^='interpretor'], div.interpretor[id^='__interpretor'] {
    background-color: transparent !important;
  }
  .code-showcase-code-view .ace_editor {
    background-color: #002f3e !important;
    padding-top: hs(20px) !important;
    box-sizing: border-box;
  }

  .code-showcase-code-view .ace_gutter {
    background-color: transparent !important;
  }

  .code-showcase-code-view .ace-dracula .ace_gutter-active-line {
    background-color: transparent !important;
  }

  .code-showcase-code-view .ace-dracula .ace_marker-layer .ace_active-line {
    background-color: transparent !important;
  }

  .code-showcase-code-view .ace_scrollbar-v::-webkit-scrollbar {
    max-width: hs(10px);
  };

  .code-showcase-code-view .ace_scrollbar-v::-webkit-scrollbar-thumb {
    background-color: rgba(#34e4ea, 0.5);
    border-radius: 0;
  };

  .code-showcase-playButton {
    position: absolute;
    background-image: url("../../../assets/playButton.png");
    background-size: 117%;
    background-position: 47% 42%;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    &:hover {
      opacity: 0.5;
    }
    
    @include resD((
      width: 70px,
      height: 70px,
      bottom: $s-s,
      right: $s-s,
    ));
    
    @include resM((
      width: 50px,
      height: 50px,
      bottom: $s-xs,
      right: $s-xs,
    ));
  }
}

.code-showcase-fullScreenIcon {
  background-image: url('../../../assets/fullscreen.svg');
  position: absolute;
  background-size: 100%;
  z-index: 999;
  margin: 8px 12px;
  background-position: 47% 42%;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  &:hover {
    opacity: 0.5;
  }
  
  @include resD((
    width: 28px,
    height: 28px,
    top: $s-s,
    right: $s-s,
  ));
  
  @include resM((
    width: 22px,
    height: 22px,
    top: $s-xs,
    right: $s-xs,
  ));
}

.author-profile-edit-container {
  border: 2px solid #00ade6;
  position: absolute;
  border-radius: 100%;
  z-index: 17;
  display: block;
  box-sizing: border-box;
  background: white;
  bottom: 0;
  right: 0;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


  @include resD((
    width: 38px,
    height: 38px,
    padding: 6px,
  ));
  @include resM((
    width: 28px,
    height: 28px,
    padding: 4px,
  ));

  & .editIcon {
    background: url('../../../assets/pencil.svg');
    width: 100%;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}