@import '../../variables/_variables.scss';
@import "src/scss/size.scss";

.report-container {
    @include resD((
        padding:15px 60px 10px 25px
    ));
    @include resM((
        padding: 40px 18px 10px
    ));
}

.report-pagination {
    @include resD((
        margin-bottom:3%
    ));
    @include resM((
        margin-bottom:3%
    ));
}

.heading-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include resD((
        margin: 0px 0px 14px 0px,
        ));
        @include resM((
            margin: 0px 0px 14px 0px,
        ));

    .class-heading {
        display: flex;
        align-items: center;
        font-family: Inter;
        font-weight: 600;
        letter-spacing: 0em;
        @include resD((
            font-size: 32px,
        ));
        @include resM((
            font-size: 20px,
        ));
    }

    .heading-buttons-container {
        display: flex;
        flex-wrap: wrap;
        @include resD((
            min-width:32%,
            margin-top: 0px
        ));
        @include resM((
            min-width:32%,
            margin-top: 10px
        ));
    } 
}

.space {
    margin: 0 7px;
}

.class-details-container {
    display: flex;
    background-color: #fff;
    @include resD((
        min-width:567px,
        max-width:567px,
        min-height:116px,
        border-radius: 16px,
        padding: 13px 50px 13px 13px,
        margin-bottom: 20px,
    ));
    @include resM((
        min-width:567px,
        max-width:567px,
        min-height:116px,
        border-radius: 16px,
        padding: 10px 50px 10px 10px,
        margin-bottom: 20px,
    ));
    .image-container {
        @include resD((
            min-width:130px,
            min-height:130px,
            border-radius: 16px,
            border: 1px solid #EEEEEE,
        ));
        @include resM((
            min-width:130px,
            min-height:130px,
            border-radius: 16px,
            border: 1px solid #EEEEEE,
        ));
        box-sizing: border-box;
        background: #fff;
    }

    .details-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include resD((
            margin-left: 20px,
            padding: 8px 0,
        ));
        @include resM((
            margin-left: 15px,
            padding: 8px 0,
        ));
        .class-name {
            font-style: normal;
            font-family: Inter;
            font-weight: 500;
            @include resD((
                font-size: 14px,
            ));
            @include resM((
                font-size: 14px,
            ));
            color: #9E9E9E;
            span {
                color: #424242;
            }
        }

        .class-heading {
            font-style: normal;
            font-family: Inter;
            font-weight: 600;
            color: #212121;
            @include resD((
                font-size: 26px,
                margin: 0
            ));
            @include resM((
                font-size: 20px,
                margin: 0
            ));
        }

        .class-time-container {
            display: flex;
            align-items: center;
        }
        
        .class-time {
            font-style: normal;
            font-family: Inter;
            font-weight: 500;
            color: #757575;
            @include resD((
                font-size: 16px,
                margin-left: 12px,
            ));
            @include resM((
                font-size: 16px,
                margin-left: 12px,
            ));
        }   
    }
}

.nav-buttons-container {
    display: flex;
    font-family: Inter;
    gap: 13px;
    @include resD((
        margin: 50px 0 6px 0,
     ));
     @include resM((
        margin: 50px 0 6px 0,
     ));
    .nav-button {
        font-weight: 600;
        color: #212121;
        opacity: 0.4;
        outline: none;
        cursor: pointer;
        background: none;
        font-family: Inter;
        @include resD((
            border: none,
            letter-spacing: 0em,
            margin: 0 10px,
            padding-bottom: 8px,
            font-size: 22px
       ));
        @include resM((
            border: none,
            letter-spacing: 0em,
            margin: 0 10px,
            padding-bottom: 8px,
            font-size: 20px
        ));
    }
    
    .selected-nav-button {  
        font-weight: 500;
        color: #8C61CB;
        outline: none;
        cursor: pointer;
        background: none;
        font-family: Inter;
        @include resD((
            border: none,
            letter-spacing: 0em,
            margin: 0 10px,
            padding-bottom: 8px,
            font-size: 22px
       ));
        @include resM((
            border: none,
            letter-spacing: 0em,
            margin: 0 10px,
            padding-bottom: 8px,
            font-size: 20px
        ));
    }
}

.feedback-tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include resD((
   ));
    @include resM((
    ));

    .feedback-stats-container {
        display: flex;
        justify-content: space-between;
        background: #fff;
        position: relative;
        overflow: hidden;
        @include resD((
            min-height: 185px,
            min-width: 550px,
            max-width: 500px,
            margin: 0 24px 0 0,
            padding: 20px 22px 29px 28px,
            border-radius: 16px,
        ));
        @include resM((
            min-height: 185px,
            min-width: 500px,
            max-width: 500px,
            margin: 0 20px 0 0,
            padding: 20px 20px 27px 20px,
            border-radius: 16px,
        ));

        .stats-head-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: Inter;

            .primary-button {
                font-family: 'Inter';
                font-weight: 400;
                font-style: normal;
                @include resD((
                    border: none,
                    padding: 9px 20px 9px 12px,
                    font-size: 15px,
                    border-radius: 8px,
                ));
                @include resM((
                    border: none,
                    padding: 9px 20px 9px 12px,
                    font-size: 15px,
                    border-radius: 8px,
                ));
                color: #FFFFFF;
                background: #8C61CB;
                letter-spacing: 0px;
                display: flex;
                user-select: none;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
                .icon-margin {
                    margin-right: 10px;
                }
            }

            .stats-head {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                color: #212121;
                @include resD((
                    font-size: 24px,
                    letter-spacing: 0em,
                    margin-top:5%
                ));
                @include resM((
                    font-size: 20px,
                    letter-spacing: 0em,
                    margin-top:0%
                ));
            }
            .feedback-rating {
                font-size: 40px;
                font-weight: 600;
                line-height: 40px;
                letter-spacing: 0em;
                color: #212121;
            }
        }

        .view-feedback-link {
            font-family: Inter;
            font-weight: 500;
            color: #8C61CB;
            text-decoration: underline;
            z-index: 1;
            font-style: normal;
            @include resD((
                font-size: 16px,
                letter-spacing: 0em,
                margin-top:3%
                ));
            @include resM((
                    font-size: 14px,
                    letter-spacing: 0em,
                    margin-top:1%
                ));
        }
    }
}
.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Nosession-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    color: #C4C4C4;
    font-family: Inter;
}
.batch-topic {
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    @include resD((
        font-size: 24px,
        margin-top: 4%,
    ));
    @include resM((
        font-size: 20px,
        margin-top: 4%
    ));
}
.Button_primary__3HVqq {
    padding: 0px 11px 0px 9px !important;
    gap:12px !important;
}
.underline {
    background: #8C61CB;
    @include resD((
        border-radius: 24px 24px 0px 0px,
        width: 91%,
        margin-left: 5%,
        height: 6px,
    ));
    @include resM((
        border-radius: 24px 24px 0px 0px,
        width: 91%,
        margin-left: 5%,
        height: 6px,
    ));
}
.feedBack-button {
    display: flex;
    background: #8C61CB;
    gap:10px;
    cursor: pointer;
    @include resD((
        border-radius: 8px,
        border:none,
        padding:0px 14px 6px 13px
    ));
    @include resM((
        border-radius: 8px,
        border:none,
        padding:0px 16px 4px 14px
    ));
}
.chat-icon {
    @include resD((
        margin-top: 7%,
    ));
    @include resM((
        margin-top: 7%,
    ));
}
.feedback-text {
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
    color: #FFFFFF;
    @include resD((
        font-size: 16px,
        margin-top:7%,
        width:146px,
        height:123px
    ));
    @include resM((
        font-size: 16px,
        margin-top:5%,
        width:146px,
        height:123px
    ));
}
.feedback-star {
    position: absolute;
    @include resD((
        left: 58%,
    bottom: 15%,
    ));
    @include resM((
        left: 58%,
        bottom: 12%,
    ));
    svg {
        @include resD((
            width:200px,
            height:150px
        ));
        @include resM((
            width:200px,
            height:170px
        ));
    }
}
.rating-text {
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    color: #212121;
    @include resD((
        font-size:50px,
        margin-top:20%
    ));
    @include resM((
        font-size: 50px,
        margin-top:33%
    ));
}
.pagination {
    cursor: pointer;
    text-transform: capitalize;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    color: #000000;
    @include resD((
        font-size:16px,
    ));
    @include resM((
        font-size: 16px,
    ));
}
.info-holder {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        @include resD((
            width: 22px,
            height: 22px,
        ));
        @include resM((
            width: 22px,
            height: 22px,
        ));
    }
}

.feedback-stats-container-two {
    display: flex;
        justify-content: space-between;
        background: #fff;
        position: relative;
        overflow: hidden;
        @include resD((
            min-height: 185px,
            min-width: 500px,
            max-width: 500px,
            margin: 0 24px 0 0,
            padding: 20px 22px 18px 28px,
            border-radius: 16px,
        ));
        @include resM((
            min-height: 185px,
            min-width: 500px,
            max-width: 500px,
            margin: 10px 20px 0 0,
            padding: 20px 20px 27px 20px,
            border-radius: 16px,
        ));
}
.feedback-star-two {
    position: absolute;
    @include resD((
        left: 66%,
    bottom: 15%,
    ));
    @include resM((
        left: 66%,
    bottom: 19%,
    ));
    svg {
        @include resD((
            width:200px,
            height:150px
        ));
        @include resM((
            width:200px,
            height:170px
        ));
    }
}
.view-feedback-link-two {
    font-family: Inter;
    font-weight: 500;
    color: #8C61CB;
    text-decoration: underline;
    z-index: 1;
    font-style: normal;
    @include resD((
        font-size: 16px,
        letter-spacing: 0em,
        margin-top:4%,
        margin-right:0.7%
        ));
    @include resM((
            font-size: 16px,
            letter-spacing: 0em,
            margin-top:4%,
            margin-right:1%
        ));
}
.stats-head-student {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    color: #212121;
    @include resD((
        font-size: 24px,
        letter-spacing: 0em,
        margin-top:5%
    ));
    @include resM((
        font-size: 20px,
        letter-spacing: 0em,
        margin-top:8%
    ));
}