@import "src/scss/size.scss";
@import "src/scss/theme/colors.scss";
@import "src/scss/Inter.scss";

.label__container__section {
  @include resD(
    (
      width: fit-content,
      height: fit-content,
      display: flex,
      flex-direction: column,
      align-items: flex-start,
    )
  );
  @include resSm(
    (
      width: 200px,
      height: 200px,
      display: flex,
      flex-direction: column,
    )
  );
}

.label__container__section__1 {
  @include resD(
    (
      font-family: Inter,
      font-size: 16px,
      margin-bottom: 15px,
      display: flex,
      align-items: center,
      justify-content: center,
    )
  );
  @include resSm(
    (
      font-family: Inter,
      font-size: 16px,
      margin-bottom: 15px,
      display: flex,
      align-items: center,
      justify-content: center,
    )
  );

  span {
    @include resD(
      (
        margin-right: 10px,
      )
    );
    @include resSm(());
  }

  svg{
    @include resD(
      (
        width:20px,
        height:20px
      )
    );
    @include resSm(());
  }
}

.percentage__label {
  @include resD(
    (
      font-size: 16px,
      font-family: Inter,
      font-weight: 800,
    )
  );
  @include resSm(
    (
      font-size: 16px,
      font-family: Inter,
      font-weight: 800,
    )
  );
}
.graph__text__label {
  @include resD(
    (
      color:#757575,
      font-size:16px
    )
  );
  @include resSm(
    (
      color:#757575,
      font-size:16px
    )
  );
}
