@import 'src/scss/size.scss';

.questionContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: hs(63px);
  padding-left: hs(46px);
  position: relative;
}

.questionStatement {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: hs(26px);
  font-weight: 600;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #504f4f;
  line-height: 1.6;
  width: 82%;
}

.questionCodeSnippet {
  width: 82%;
  margin-left: hs(16px);
}

.editorContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 82%;
  height: hs(400px);
  margin-top: hs(24px);
  margin-left: hs(16px);
}

.editorTitle {
  height: hs(40px);
  width: 100%;
  background-color: #64d5cb;
  font-size: hs(24px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000102;
  font-weight: 600;
}

.skyBlue {
  background-color: #5fc5e5;
}

.editorRunButton {
  width: hs(70px);
  height: hs(70px);
  position: absolute;
  bottom: hs(0px);
  right: hs(30px);
  background-image: url("../../assets/playButton.png");
  background-size: 117%;
  background-position: 47% 42%;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

.editorOutput {
  width: 100%;
  border-radius: hs(21px);
  background-color: #014257;
  box-sizing: border-box;
  padding: 5px hs(20px) 5px hs(30px);
  border-radius: hs(5px);
  font-family: Monaco;
  font-size: hs(21px);
  overflow: scroll;
  line-height: 1.5;
  color: #ffffff;
  margin-top: hs(5px);
  &::-webkit-scrollbar {
    max-width: hs(10px);
    height: hs(7px);
  };
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#34e4ea, 0.5);
    border-radius: 0;
  };
  &::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0)
  }
}

.editorText {
  lineHeight: hs(30px);
}

.editorOutputContainer {
  flex: 1;
  height: calc(100% - #{hs(35px)});
  background-color: #052732;
  box-sizing: border-box;
  padding: hs(5px) hs(20px) hs(30px) hs(20px);
  overflow: scroll;
  &::-webkit-scrollbar {
    max-width: hs(10px);
  };
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#34e4ea, 0.5);
    border-radius: 0;
  };
}

.lastQuestionEditorOutputContainer {
  flex: 1;
  height: calc(100% - #{hs(36px)});
  background-color: #052732;
  box-sizing: border-box;
  padding: 0 hs(20px) 0 hs(20px);
  overflow: scroll;
}

.nextButtonContainer {
  width: 98%;
  margin-top: hs(36px);
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  margin-bottom: hs(18px);
}

.submitButtonContainer {
  width: 87%;
  margin-top: hs(36px);
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  margin-bottom: hs(18px);
}

.topMargin {
  margin-top: hs(78px) !important;
}

.submitButton{
  display: flex;
  cursor: default;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  width: hs(173.9px);
  height: hs(50px);
  border-radius: hs(32px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #00ade6, #34e4ea);
  font-size: hs(28px);
  font-weight: 700;
  color: #fff;
  padding-top: hs(4px);
  border: solid 1px #34e4ea;
  &:hover {
    cursor: default;
    opacity: 0.8;
  }
}

.bigNextButtonContainer {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-top: hs(175px);
  margin-bottom: hs(48px);
  right: hs(48px);
}
