@import "src/scss/theme/colors.scss";
@import "src/scss/size.scss";

@mixin font-style(
  $font-family,
  $font-style,
  $font-weight,
  $line-height,
  $color
) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

.singleStudentWrapper {
  display: flex;
  align-items: center;
  justify-content: stretch !important;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  transition: all 0.3s linear;  
  @include resD(
    (
      border-radius: 8px,
      height: 40px,
      padding-left: 8px,
      margin-block: 0.5vw,
      max-width: none
    )
  );
  @include resMs(
    (
      border-radius: 8px,
      padding-left: 8px,
      margin-block: 8px,
      max-width: 500px !important,
    )
  );

  > p {
    transform: translateY(10%);
    @include font-style(Nunito, normal, 700, 24px, $emperor-61);
    @include resD(
      (
        font-size: 20px,
        margin-block: 0.5vw,
        margin-inline: 4px,
      )
    );
    @include resMs(
      (
        font-size: 20px,
        margin-block: 8px,
        margin-inline: 4px,
      )
    );
  }
  > img {
    @include resD(
      (
        width: 30px,
        height: 30px,
        margin-right: 12px,
      )
    );
    @include resMs(
      (
        width: 30px,
        height: 30px,
        margin-right: 12px,
      )
    );
  }
}
.selected {
  transition: all 0.3s linear;
  background-color: $deep-sky-blue;
  > p {
    color: white;
  }
}
