@import 'src/scss/size.scss';

.cardLayout{
  margin-bottom: hs(18px);
  width: hs(1097px);
  height: hs(617px);
  // background-color: aliceblue;
}

.card{
  width: hs(1097px);
  height: hs(617px);
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
