@import "src/scss/size.scss";
@import "src/scss/theme/colors.scss";
@import "src/scss/Inter.scss";
@import "../../variables/_variables.scss";

.questionPaperGeneratorContainer{
    font-family: 'Inter';
    box-sizing: border-box;
    min-height: 100%;
    @include resD1280((
        padding:20px 20px 0px 0px,
    ));
    * {
        font-family: 'Inter';
    }
}
.questionPaperGeneratorDivContainer{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.questionPaperGeneratorDiv{
  width: fit-content;
  display: inline-flex;
  padding: 30px 60px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 0px rgba(142, 97, 203, 0.10);
  h1, p{
    margin: 0;
  }
  h1{
    color: #282828;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    @include resD1280((
        font-size: 32px,
    ));
  }
  p{
    color: #565656;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include resD1280((
        font-size: 16px,
        margin-bottom: 20px,
    ));
  }
}
.questionPaperButtonDiv{
    @include resD1280((
       width: 150px
    ));
}