@import "src/scss/size.scss";
@import 'src/scss/Inter.scss';


.badge-holder {
    display: flex;
}
.info-card {
    height: auto;
    border: 1px solid;
    padding: 6px;
    @include resD((
        min-width: 372px,
        max-width: 372px,
        background-color: #FFFFFF,
        min-height: 230px,
         max-height: 230px,
         border-radius: 16px
      ));
}
.info-card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-card-title {
    @include resD((
        font-style: normal,
        font-weight: 600,
        line-height: 25px,
        font-size: 20px,
        font-family:Inter
      ));
}