@import 'src/scss/size.scss';
@import 'src/scss/lato.scss';

.popUpBackgroundColor {
  @include resM((
    background-color: #ffffff,
    ));
  @include resD((
    background-color: rgba(3, 3, 3, 0.6),
  ));
}

.container {
  position: relative;
  @include resM((
    width: 100%,
    height: 100%,
    display: flex,
    background-image: unset,
    background-repeat: no-repeat,
    background-size: cover,
    flex-direction: column,
    justify-content: flex-start,
    align-items: center,
    overflow-x: hidden,
    padding: 0 16px,
    box-sizing: border-box
  ));
  @include resD((
    display: flex,
    width: 1920px,
    height: 100vh,
    background-image: url("../../assets/triangleBG.svg"),
    background-repeat: no-repeat,
    background-size: cover,
    flex-direction: column,
    justify-content: flex-start,
    align-items: center,
    padding: unset,
  ));
}

.mainContainer {
  display: flex;
  position: relative;
  @include resM((
    width: 100%,
    height: 100%,
    flex-direction: column,
    justify-content: flex-start,
    align-items: center,
    border-radius: 10px,
    box-shadow: 0px -1px 10px 0 rgba(47, 223, 233, 0.39),
    box-sizing: border-box,
    padding: 0 15px,
    margin-top: 30px,
  ));
  @include resD((
    width: 1608px,
    height: 869px,
    flex-direction: row,
    justify-content: flex-start,
    align-items: center,
    border-radius: 10px,
    box-shadow: unset,
    margin-top: 20px,
    padding: unset
  ));
}

.tekieLogo {
  @include resM((
    width: 98px,
    height: 54px,
    margin-top: 10px,
    align-self: flex-start,
    margin-left: 14px,
  ));
  @include resD((
    min-width: 125px,
    min-height: 44px,
    width: unset,
    height: unset,
    margin-bottom: 30px,
    margin-top: 30px,
    align-self: unset,
    margin-left: unset,
  ));
  background-image: url('../../assets/tekieLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.loaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: hs(10px);
  position: relative;
  top: hs(-90px);
  @include resM((
    width: 100vw,
    height: 100vw,
    ));
  @include resD((
    width: 1608px,
    height: 869px,
  ));
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  @include resM((
    position: relative,
    width: 100%,
    height: 30%,
    background-image: unset,
    ));
  @include resD((
    width: 445px,
    height: 869px,
    background-image: url("../../assets/payment_left_background.png"),
    box-shadow: 0 15px 20px 0 rgba(47, 223, 233, 0.39),
    background-repeat: no-repeat,
    background-position: center,
    background-size: contain,
    border-radius: 10px,
  ));
}

.middleContainer {
  @include resM((
    ));
  @include resD((
    width: 15px,
    height: 869px,
    display: flex,
    flex-direction: column,
    justify-content: center,
    align-items: center,
    opacity: 0,
  ));
}

.graduationDrop {
  @include resM((
    width: 85px,
    height: 100px,
    margin-bottom: 14px,
    margin-top: -65px
  ));
  @include resD((
    width: 105px,
    height: 120px,
    margin-bottom: 25px,
    margin-top: unset,
  ));
}

.leftTitleText {
  object-fit: contain;
  font-family: Nunito;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #00ade6;
  @include resM((
    height: 35px,
    font-size: 25px,
    margin-bottom: 5px,
    font-weight: normal,
  ));
  @include resD((
    height: 35px,
    font-size: 26px,
    margin-bottom: 15px,
    font-weight: bold,
  ));
}

.leftHeaderText {
  object-fit: contain;
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #aaacae;
  @include resM((
    height: 30px,
    width: 100%,
    font-size: 17px,
    margin-bottom: -2px,
    ));
  @include resD((
    height: 30px,
    font-size: 22px,
    margin-bottom: 5px,
  ));
}

.leftSubHeaderText {
  object-fit: contain;
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #aaacae;
  @include resM((
    height: 23px,
    font-size: 14px,
    ));
  @include resD((
    height: 23px,
    font-size: 17px,
  ));
}

.highlightText {
  color: #00ade6;
  text-decoration: underline;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  @include resM((
    width: 100%,
    height: unset,
    background-color: unset,
  ));
  @include resD((
    width: 1142px,
    height: 869px,
    box-shadow: 0 15px 20px 0 rgba(47, 223, 233, 0.39),
    border-radius: 10px,
    padding-top: 40px,
    box-sizing: border-box,
    background-color: #ffffff,
  ));
}

.billingDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 0.5px #31e1e9;
  @include resM((
    width: 98%,
    height: 220px,
    margin-top: 25px,
    border-radius: 15px,
    ));
  @include resD((
    width: 1084px,
    height: 273px,
    margin-top: 15px,
    border-radius: 15px,
  ));
}

.billingDetailRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  @include resM((
      height: 25px,
      padding-left: 15px,
      padding-top: 25px,
    ));
  @include resD((
    height: 30px,
    padding-left: 30px,
    padding-top: 30px,
  ));
}

.billingDetailRowLeft {
  object-fit: contain;
  font-family: Nunito;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.76;
  letter-spacing: normal;
  text-align: left;
  color: #504f4f;
  @include resM((
      width: 140px,
      height: 100%,
      font-size: 22px,
    ));
  @include resD((
    width: 238px,
    height: 100%,
    font-size: 22px,
  ));
}

.billingDetailRowRight {
  object-fit: contain;
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.76;
  letter-spacing: normal;
  text-align: center;
  color: #aaacae;
  @include resM((
      height: 100%,
      font-size: 22px,
    ));
  @include resD((
    height: 100%,
    font-size: 22px,
  ));
}

.billingDetailTitle {
  object-fit: contain;
  font-family: Nunito;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #00ade6;
  @include resM((
    height: 27px,
    font-size: 20px,
    padding-left: unset,
    padding-top: unset,
  ));
  @include resD((
    height: 35px,
    font-size: 26px,
    padding-left: 30px,
    padding-top: 30px,
  ));
}

.pricingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 0.5px #31e1e9;
  @include resM((
    width: 98%,
    height: unset,
    border-radius: 15px,
    margin-top: 20px,
    padding: 15px,
    box-sizing: border-box,
    margin-bottom: 10px,
  ));
  @include resD((
    width: 1084px,
    height: 345px,
    border-radius: 15px,
    margin-top: 0,
    padding: unset,
    padding-top: 10px,
    padding-bottom: 20px,
    margin-bottom: 20px,
  ));
}

.discountRow {
  display: flex;
  @include resM((
    width: 100%,
    height: unset,
    padding-top: 15px,
    padding-left: unset,
    flex-direction: column,
    justify-content: center,
    align-items: center,
  ));
  @include resD((
    flex-direction: row,
    justify-content: flex-start,
    align-items: flex-start,
    height: 77px,
    padding-left: 30px,
    padding-top: unset,
  ));
}

.discountDetailRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  @include resM((
    width: 100%,
  ));
  @include resD((
    width: 427px,
    height: 20px,
    padding-top: 20px,
  ));
}

.discountOrContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include resM((
    height: 30px,
    width: 40px,
  ));
  @include resD((
    height: 60px,
    width: 60px,
    margin-left: 60px,
    margin-right: 60px,
    margin-top: 4px,
  ));
}

.discountOrText {
  object-fit: contain;
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #aaacae;
  @include resM((
    font-size: 22px,
    text-align: center,
  ));
  @include resD((
    font-size: 22px,
    text-align: left,
    line-height: 2.55,
  ));
}

.applyDiscountParentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.applyDiscountContainer {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px rgba(48, 224, 233, 0.5);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include resM((
    width: 100%,
    height: 45px,
    border-radius: 39px,
  ));
  @include resD((
    width: 389px,
    height: 55px,
    border-radius: 39px,
    margin-bottom: 10px,
  ));
}

.applyDiscountRightontainer {
  object-fit: contain;
  font-family: Nunito;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #00ade6;
  text-align: left;
  pointer-events: auto;
  cursor: pointer;
  @include resM((
    width: 63px,
    font-size: 16px
  ));
  @include resD((
    width: 63px,
    font-size: 16px
  ));
}

.pricingDetailRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  @include resM((
    width: 100%,
    padding-left: unset,
    padding-top: 15px,
    align-items: center,
  ));
  @include resD((
    width: 427px,
    padding-left: 30px,
    padding-top: 30px,
    align-items: flex-start,
  ));
}

.totalChargeRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  @include resM((
    width: 100%,
    height: 30px,
    padding-left: unset,
    padding-top: 14px,
  ));
  @include resD((
    width: 427px,
    height: 30px,
    padding-left: 30px,
    padding-top: 20px,
  ));
}

.pricingDetailRowLeft {
  object-fit: contain;
  font-family: Nunito;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #504f4f;
  @include resM((
    height: 100%,
    min-width: 180px,
    max-width: 280px,
    font-size: 17px,
  ));
  @include resD((
    height: 100%,
    min-width: 290px,
    max-width: 340px,
    font-size: 22px,
  ));
}

.discountDetailRowLeftContainer{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.discountDetailRowLeft{
  object-fit: contain;
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.84;
  letter-spacing: normal;
  text-align: left;
  color: #00ade6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  @include resM((
    height: 100%,
    font-size: 17px,
    padding-top: 4px,
    padding-right: 5px,
  ));
  @include resD((
    height: 100%,
    font-size: 20px,
    padding-top: 4px,
    padding-right: 0,
  ));
}

.pricingDetailRowRight {
  object-fit: contain;
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.76;
  letter-spacing: normal;
  text-align: center;
  color: #aaacae;
  @include resM((
    height: unset,
    font-size: 17px,
  ));
  @include resD((
    height: 100%,
    font-size: 22px,
  ));
}

.pricingActionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include resM((
    width: 99%,
    position: fixed,
    bottom: 0,
    background-color: #ffffff,
    box-shadow: 0 -0.5px 10px 0 rgba(47, 223, 233, 0.39),
    padding-bottom: 10px,
    border: 1px solid #00c0ff,
    border-radius: 15px,
  ));
  @include resD((
    width: 1084px,
    height: 170px,
    position: relative,
    border: unset,
    background-color: unset,
    border-radius: inset,
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16),
  ));
}

.emptypricingActionText {
  @include resM((
    width: 94%,
    height: 170px,
  ));
  @include resD((
    width: 0,
    height: 0
  ));
}

.totalPriceContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include resM((
    width: 100%,
    height: 57px,
    border-radius: 37px,
    margin-bottom: 0,
  ));
  @include resD((
    width: 224px,
    height: 57px,
    border-radius: 37px,
    margin-bottom: 20px,
    border: solid 1px #5be1e8,
  ));
}

.totalPriceText {
  object-fit: contain;
  font-family: Nunito;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: left;
  color: #00ade6;
  @include resM((
    font-size: 16px,
  ));
  @include resD((
    font-size: 19px,
  ));
}

.discountIcon {
  @include resM((
    width: 20px,
    height: 20px,
    padding-left: 5px,
    padding-bottom: unset,
  ));
  @include resD((
    width: 24px,
    height: 24px,
    padding-left: 15px,
    padding-bottom: 10px,
  ));
}

.inputDiscount {
  font-family: Nunito;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #aaacae;
  display: flex;
  flex: 1;
  border:none;
  outline: none;
  object-fit: contain;
  font-weight: normal;
  opacity: 1;
  @include resM((
    font-size: 16px,
    margin-left: 15px,
    width: 250px,
  ));
  @include resD((
    font-size: 16px,
    margin-left: 15px,
    width: 250px,
  ));
}

.input::placeholder {
  opacity: 0.4;
}

.errorDiscountContainer {
  font-family: Nunito;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: red;
  @include resM((
    font-size: 16px,
    margin-left: 15px,
  ));
  @include resD((
    font-size: 16px,
    margin-left: 15px,
  ));
}

.successDiscountContainer {
  font-family: Nunito;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: green;
  @include resM((
    font-size: 16px,
    margin-left: 15px,
  ));
  @include resD((
    font-size: 16px,
    margin-left: 15px,
  ));
}

.referralDetailParentRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @include resM((
    width: 100%,
    padding-left: 30px,
  ));
  @include resD((
    width: 427px,
    padding-left: 30px,
    margin-top: -10px,
  ));
}

.referralDetailRow {
  @include resM((
    width: 100%,
    display: flex,
    flex-direction: row,
    justify-content: flex-start,
    align-items: center
  ));
  @include resD((
    width: 100%,
    height: 100%,
    margin-bottom: 18px,
    display: flex,
    flex-direction: row,
    justify-content: space-between,
  ));
}

.referralDetailParentLine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @include resM((
    min-height: 1px,
    width: 100%,
    padding-left: unsetpx,
    margin-top: 14px,
  ));
  @include resD((
    min-height: 1px,
    width: 427px,
    padding-left: 30px,
    margin-top: 20px,
  ));
}

.line {
  background-color: #b7f6f8;
  @include resM((
    height: 1px,
    width: 100%,
  ));
  @include resD((
    height: 1px,
    width: 427px,
  ));
}

.creditIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include resM((
    height: 26px,
    width: 26px,
  ));
  @include resD((
    height: 26px,
    width: 26px,
  ));
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include resM((
    height: 26px,
    width: 26px,
  ));
  @include resD((
    height: 26px,
    width: 26px,
  ));
}

.opacity {
  opacity: 0.4;
}

.row {
  display: flex;
  width: 100%;
  @include resM((
    flex-direction: column,
    align-items: center,
  ));
  @include resD((
    flex-direction: row,
    justify-content: space-between,
  ));
}

.inputColumn {
  width: 100%;
}

.input {
  border: none;
  text-decoration: none;
  color: red;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: solid 0.3px rgba(#5ee0f1, 1);
  @extend .lato-light;
  color: rgba(black, 0.8);
  outline: none;
  line-height: 1.76;
  &:focus {
    border-bottom: solid 0.3px rgba(52, 228, 234, 1);
  }
  @include resM((
    width: 100%,
    min-height: 36px,
    padding: 0px 7.5px,
    font-size: 15px,
    margin-bottom: 18px,
    letter-spacing: 1.79px,
  ));
  @include resD((
    width: 476px,
    min-height: 42px,
    margin-bottom: 22px,
    padding: 12px 10px,
    font-size: 20px,
    letter-spacing: 1.53px,
  ));
  
  &::placeholder {
    @extend .lato-light;
    color: rgba(#8f8f8f, 1);
    line-height: 1.76;
    @include resM((
      font-size: 15px,
      letter-spacing: 1.79px,
    ));
    @include resD((
      font-size: 20px,
      letter-spacing: 1.53px,
    )); 
  }
}

.error {
  @extend .lato-light;
  position: relative;
  width: 100%;
  color: red;
  @include resM((
    height: 10px,
    top: -18px,
    left: 4px,
    font-size: 15px,
  ));
  @include resD((
    height: 7px,
    top: -14px,
    left: 6px,
    font-size: 18px,
  ));
}

.inputContainer {
  display: flex;
  flex-direction: row;
  @include resM((
    width: 100%,
  ));
  @include resD((
    width: 476px,
  ));
  input#phone {
    width: auto !important;
    flex: 1;
  }
}

.inputSm {
  @extend .input;
  @include resM((
    width: 45px,
    margin-right: 10px,
  ));
  @include resD((
    width: 68px,
    margin-right: 20px,
  )); 
}

.label {
  width: 100%;
  @extend .lato-light;
  color: rgba(#8f8f8f, 1);
  line-height: 1.76; 
  @include resM((
    margin-bottom: 5px,
    font-size: 15px,
    letter-spacing: 1.79px,
    margin-left: 10px,
  ));
  @include resD((
    font-size: 20px,
    letter-spacing: 1.53px,
    margin-left: 20px,
    margin-bottom: 17px,
  ));
}

.gradesContainer {
  display: flex;
  border: solid 0.5px #31e1e9;
  @include resM((
    width: 100%,
    align-items: center,
    height: 50px,
    border-radius: 7px,
  ));
  @include resD((
    width: 468px,
    height: 70.2px,
    border-radius: 4px,
    align-self: flex-start,
  ));
}

.grade {
  @extend .lato-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: rgba(#8f8f8f, 0.8);
  height: 100%;
  cursor: pointer;
  @include resM((
    font-size: 18px,
    letter-spacing: -0.18px,
  ));
  @include resD((
    font-size: 24px,
    letter-spacing: -0.24px,
  ));

}

.gradeSep {
  background-color: #229296;
  opacity: 0.4;
  @include resM((
    height: 25.5px,
    width: 0.6px,
  ));
  @include resD((
    height: 35.8px,
    width: 0.5px
  ));
}

.gradeActive {
  color: #24a5be;
  font-weight: bold;
  border-style: inset;
  @include resM((
    border-radius: 4px,
    border: solid 1px #24a5be,
  ));
  @include resD((
    border-radius: 4px,
    border: solid 1px #24a5be,
  ));
}

.signUpBodyCheckout {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  display: flex;
  @include resM((
    padding: 15px,
    border: 1px solid#31e1e9,
    border-radius: 15px,
    margin-top: 14px
  ));
  @include resD((
    width: 1084px,
    height: 345px,
    display: flex,
    border-radius: 15px,
    border: solid 0.5px #31e1e9,
    margin-bottom: 15px,
    margin-top: unset,
    padding: .04831vw 2.41546vw,
    padding-bottom: 20px,
    padding-top: 10px
  ));
}