@import 'src/scss/Inter.scss';
@import "src/scss/size.scss";
@import '../../../../variables/_variables.scss';
@import '../../../../mixins/_mixins.scss';
$pri-color: $primary-color;
$pri-color-dark: $primary-color-110;
$primary-fontFamily: Inter;
$primary-fontStyle: normal;
$primary-fontWeight: 500;

$radioSize: 14px;
$radioBorder: #D1D7E3;

$defaultLabelSizeD: 16px;
$defaultLabelSizeM: 11px;

$borders: 1px solid #AAAAAA;
.datepickerContainer{
    height: 60px;
    display: flex;
    flex-direction: column;
    @include resD((
        width: 140px,
    ));
    @include resM((
        width: 140px,
    ));
}
.dateContainer{
    @extend .datepickerContainer;
    width: 136px;
    padding: 0px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-family:'Inter';
    height: 42px;   
    border:1px solid $tekie-grey-50;
}
.dateTimeLabel {
    display: inline-block;
    font-weight:500;
    margin-bottom: 10px;
    @include resD((
        font-size: 16px,
    ));
    @include resM((
        font-size: 11px,
    ));
}
.required{
    color:red
}

.timepickerContainer{
  @include flex(flex-start,center);
  gap:24px;
  margin-top: 24px;
}

.timeContainer{
    @extend .dateContainer;
}
.labelAndTimeContainer{
    width:136px;
}

.radio {
    cursor: pointer;
    margin: 16px 7px;
    display: block;
    @include resD((
        font-size: $defaultLabelSizeD,
    ));
    @include resM((
        font-size: $defaultLabelSizeM,
    ));

    &:first-child {
        @include resD((
            margin-right: 42px,
            margin-left: 0px,
        ));
        @include resM((
            margin-right: 50px,
            margin-left: 0px,
        ));
    }

    input {
        display: none;
        margin: 15px 30px;
        & + span {
            line-height: $radioSize;
            height: $radioSize;
            font-size: 14px;
            color:$tekie-grey-70;
            padding-left: $radioSize;
            display: block;
            position: relative;
            &:not(:empty) {
                padding-left: $radioSize + 6;
            }
            &:before,
            &:after {
                content: '';
                width: $radioSize;
                height: $radioSize;
                display: block;
                border-radius: 50%;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:before {
                background: $radioBorder;
                transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
            }
            &:after {
                background: #fff;
                transform: scale(.78);
                transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
            }
        }
        &:checked + span {
            &:before {
                transform: scale(1.04);
                background: $pri-color;
            }
            &:after {
                transform: scale(.4);
                transition: transform .3s ease;
            }
        }
    }
}

.reScheduleScreenTitle{
    font-size: 14px;
    margin-bottom: 16px;
}
.reScheduleScreenContainer,.successScreenContainer{
    min-height: 201px;
    padding: 16px;
}