@import 'src/scss/size.scss';
@import 'src/scss/theme/colors.scss';

.EventOverview_base {
    @include resD((
        padding-top: 40px,
        padding-left: 80px,
        width: unset,
        margin: unset,
    ));
    @include resSm((
        padding-top: 10px,
        padding-left: unset,
        width: 90%,
        margin: auto,
    ));
}


.EventOverview_head {
    font-family: Gilroy;
    @include resD((
        font-style: normal,
        font-weight: bolder,
        font-size: 40px,
        line-height: 120%,
        letter-spacing: -0.02em,
        color: #504F4F,
    ));
    @include resSm((
        font-style: normal,
        font-weight: bolder,
        font-size: 24px,
        line-height: 120%,
        color: #504F4F,
    ))
}


.EventOverview_Desc {
    @include resD((
        font-style: normal,
        font-weight: normal,
        font-size: 22px,
        line-height: 140%,
        color: #504F4F,
        width: 50%
    ));
    @include resSm((
        font-style: normal,
        font-weight: normal,
        font-size: 14px,
        line-height: 140%,
        color: #504F4F,
        width: 100%
    ));
    & * {
        @include resD((
            font-style: normal,
            font-weight: normal,
            font-size: 22px !important,
            line-height: 140%,
            color: #504F4F,
        ));
        @include resSm((
            font-style: normal,
            font-weight: normal,
            font-size: 14px !important,
            line-height: 140%,
            color: #504F4F,
        ));
    }
}