@import 'src/scss/size.scss';

.container {
  position: absolute;
  width: 100%;
  pointer-events: none;
  @include resD((
    height: 100%,
  ));

  @include resSm((
    height: fit-content,
  ));
}

.button {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.reportPageButtonStyle {
  @include resD((
  position: absolute,
  bottom: 10px,
  right: 40px,
  ));

  @include resSm((
  position: unset,
  bottom: unset,
  right: unset,
  ));
}