@import 'src/scss/size.scss';

.item{
  height: hs(58.7px);
  object-fit: contain;
  background-color: #002f3e;
  padding-left: hs(24.1px);
  border-bottom: 2px solid rgb(170, 172, 174);
  display: flex;
  flex-direction: row;
}

.itemLearningSlide{
  height: hs(80.7px);
  object-fit: contain;
  background-color: #002f3e;
  padding-left: hs(24.1px);
  border-bottom: 2px solid rgb(170, 172, 174);
  display: flex;
  flex-direction: row;
}

.reviewStyle {
  height: fit-content !important;
}

.updatedItem{
  cursor: grab;
  background-color: transparent !important;
  border: none !important;
  margin: 0px;
  position: relative;
  @include resD((
    font-size: hs(20px),
  ));
  @include resSm((
    font-size: hs(40px),
  ))
}

.updatedItemLearningSlide{
  cursor: grab;
  background-color: transparent !important;
  border: none !important;
  position: relative;
  @include resD((
    font-size: hs(20px),
    margin-bottom: 22px
  ));
  @include resSm((
    font-size: hs(40px),
  ))
}

.prePadding {
  & pre {
    padding-right: 34px !important;
  }
}

.arrangeIconContainer{
  width: hs(21.1px);
  height: hs(12px);
}

.wrongAnswerCheck {
  background-color: #FF5744;
  border: 2px solid #FF5744;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  & > span {
    width: 10px;
    display: block;
    height: 10px;
    background-image: url(../../../assets/crossIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.mbSortableItem {
  height: fit-content;
  margin-bottom: 6px;
}
.mbArrangeOptionContainer{
  background: #005773;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 7px;
  pre {
    border: none !important;
    backdrop-filter: none !important;
    padding: 1.9em 0px 0px 0.5em !important;
    background: #005773 !important;
    code {
      color: #fff;
    }
  }
}
.mbArrangeOptionIcon{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 9px;
}