@import 'src/scss/size.scss';
@import 'src/scss/lato.scss';
@import 'src/scss/Inter.scss';
@import 'src/scss/theme.scss';

.modal-course-thumbnail-container {
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    
    @include resD((
        width: 110px,
        height: 110px,
    ));
    @include resM((
        width: 90px,
        height: 90px,
    ));

    .modal-course-thumbnail {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.updateSM-header-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.updateSM-primary-text {
    @extend .Inter-regular;
    font-weight: normal;
    color: #616161;
    
    @include resD((
        font-size: 18px,
    ));
    @include resM((
        font-size: 14px,
    ));
}

.updateSM-details-container {
    @extend .Inter-regular;
    font-weight: 500;
    color: #212121;
    
    @include resD((
        font-size: 20px
    ));
    @include resM((
        font-size: 18px
    ));
}

.updateSM-modal-content-container {
    padding: 22px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
    @include resD((
        align-items: center,
    ));
    @include resM((
        align-items: flex-start,
    ));

    .updateSM-modal-content-class-title {
        font-weight: 500;
        color: #616161;
        @include resD((
            font-size:18px,
            padding: 0px 0px 8px,
        ));
        @include resM((
            font-size: 14px,
            padding: 8px 0px 8px,
        ));
    }
}

.updateSM-modal-content-container {
    ::-webkit-scrollbar {
	  width: 4px !important;
	}
	/* Track */
	::-webkit-scrollbar-track {
        width: 2px !important; 
        border-radius: 100%;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #EEEEEE !important; 
	  border-radius: 10px !important;
	}
}

.updateSM-modal-content-tableHeader {
    @include resD((
        font-size: 18px,
    ));
    @include resM((
        font-size: 18px,
    ));
}

.updateSM-modal-content-tableRow {
    @include resD((
        font-size: 18px,
    ));
    @include resM((
        font-size: 18px,
    ));
}

.updateSM-modal-filter-dropdown {
    @extend .Inter-regular;
    background: #FFFFFF;
    text-transform: capitalize;
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #424242;
    cursor: pointer;
    padding-left: 0px !important;
    @include resD((
      margin: 0px 8px 0px auto,
      width: 150px !important,
    ));
    @include resM((
      margin: 0px 4px,
      width: 100px !important,
    ));
    & > div {
      z-index: 999;
      text-align: left;
      border-width: 0px;
      cursor: pointer;
      @include resD((
        min-height: 32px !important,
      ));
      @include resM((
        min-height: 28px !important,
      ));
    }
}

.updateSM-form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 12px 0px
}

.updateSM-form-label {
    @extend .Inter-regular;
    font-weight: normal;
    color: #616161;
    @include resD((
        font-size: 16px,
        padding-bottom: 8px
    ));
    @include resM((
        font-size: 14px,
        padding-bottom: 6px
    ));
}

.updateSM-form-input {
    @extend .Inter-regular;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    outline: none;
    font-weight: normal;
    color: #212121;
}

.updateSM-footer-w100 {
    width: 100%;
}