$sideNavWidth: 340px;
$outSideNavWidth: 120px;
$topNavBarHeight: 65px;
$sideNavWidthForTeacherApp: 260px;
$teacherAppSessionHeight: 98px;
$trainingAppSessionHeight: 42px;
$studentActivityHeight: 620px;
$mb-breakpoint: 768px;
$tablet-breakpoint: 868px;
$small-size: 400px;
$medium-size: 1000px;
