@import 'src/scss/size.scss';


.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-image: url("../../assets/payment_complete_background.png");
  background-position: center;
  background-size: cover;
  position: relative;
  @include resM((
      width: 300px,
      height: 450px,
      border-radius: 10px,
      top: 50px,
    ));
  @include resD((
      width: 771px,
      height: 507px,
      border-radius: 20px,
      top: 120px,
      box-shadow: 0 4px 6px 0 #22d1e9,
  ));
}

.paymentSuccessDrop {
  @include resM((
    width: 64px,
    height: 80px,
    margin-top: -40px,
  ));
  @include resD((
    width: 114px,
    height: 133px,
    margin-top: -80px,
  ));
}

.paymentSuccessContainer{
  object-fit: contain;
  font-family: Nunito;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.03;
  letter-spacing: normal;
  text-align: left;
  color: #00ade6;
  @include resM((
    height: 51px,
    margin-bottom: 0,
    font-size: 24px,
  ));
  @include resD((
    height: 51px,
    margin-bottom: 30px,
    font-size: 38px,
  ));
}

.paymentSuccessSubHeader {
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #00ade6;
  @include resM((
    height: 0,
    font-size: 20px,
    margin-bottom: 0px,
  ));
  @include resD((
    height: 32px,
    font-size: 24px,
    margin-bottom: 20px,
  ));
}

.paymentProductContainer {
  display: flex;
  @include resM((
    flex-direction: column,
    justify-content: space-evenly,
    align-items: center,
    height: 259px,
    width: 100%,
  ));
  @include resD((
    flex-direction: row,
    justify-content: space-evenly,
    align-items: center,
    height: 259px,
    width: 100%,
    margin-bottom: 45px,
  ));
}

.paymentProductBox {
  display: flex;
  border: solid 2px #58c9e5;
  background-color: #f8ffff;
  @include resM((
    width: 90%,
    height: 60px,
    flex-direction: row,
    justify-content: space-evenly,
    align-items: center,
    border-radius: 8px,
  ));
  @include resD((
    width: 217px,
    height: 259px,
    flex-direction: column,
    justify-content: space-evenly,
    align-items: center,
    border-radius: 15px
  ));
}

.productIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include resM((
    width: 29px,
    height: 29px,
  ));
  @include resD((
    width: 58px,
    height: 58px,
    border-radius: 50%,
    border: solid 2px #58c9e5,
  ));
}

.productName {
  object-fit: contain;
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #00ade6;
  @include resM((
    height: 30px,
    font-size: 12px,
    text-align: center,
    line-height: 2.4,
  ));
  @include resD((
    height: 30px,
    font-size: 22px,
    text-align: left,
    line-height: 0.76,
  ));
}

.productPriceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include resM((
    width: 20px,
    margin-left: 10px
  ));
  @include resD((
    width: 91px,
    margin-left: 0
  ));
}

.productPrice {
  object-fit: contain;
  font-family: Nunito;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: black;
  opacity: 0.3;
  text-decoration: line-through;
  @include resM((
    font-size: 12px,
    width: 80px,
    height: 20px,
  ));
  @include resD((
      width: 91px,
      height: 30px,
      font-size: 22px,
      line-height: 0.76,
  ));
}

.discountedProductPrice {
  object-fit: contain;
  font-family: Nunito;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00ade6;
  @include resM((
    width: 80px,
    height: 20px,
    font-size: 12px,
  ));
  @include resD((
      width: 150px,
      height: 30px,
      font-size: 22px,
      line-height: 0.76,
  ));
}

.chooseProductButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include resM((
    height: 37px,
    margin-left: 15px
  ));
  @include resD((
    height: 37px,
    margin-left: 0
  ));
}

.selectedPaymentProductBox {
  @include resM((
    box-shadow: 0 2px 8px 0 rgba(0, 199, 230, 0.9),
  ));
  @include resD((
    box-shadow: 0 6px 10px 0 rgba(0, 199, 230, 0.9),
  ));
}

.paymentSuccessCourseContainer {
  object-fit: contain;
  font-family: Nunito;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.03;
  letter-spacing: normal;
  text-align: left;
  color: #00ade6;
  @include resM((
    height: 51px,
    font-size: 22px,
  ));
  @include resD((
    height: 51px,
    font-size: 38px,
    margin-bottom: 45px,
  ));
}

.paymentSuccessActionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include resM((
    height: 32px,
    margin-top: 20px
  ));
  @include resD((
    height: 32px,
    margin-top: 0
  ));
}

.paymentSuccessActionText {
  font-family: Nunito;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #00ade6;
  margin-right: hs(10px);
  @include resM((
    height: 32px,
    font-size: 24px,
  ));
  @include resD((
    height: 32px,
    font-size: 24px,
  ));
}
