@use "sass:string";
@use './size.scss';

// CloudFront Based URL 
$cloudfrontURL: 'https://dsd4auyo4ifts.cloudfront.net';
$fileBaseURL: 'https://tekie-backend.s3.amazonaws.com';

$height-without-navbar: calc(100vh - #{size.hs(88px)});
$navbar-height: size.hs(88px);

@function withBaseURL($value) {  
  @if (string.index($value, $cloudfrontURL) or string.index($value, $fileBaseURL)) {
    @return $value;
  }
  @return '#{$cloudfrontURL}/#{$value}';
}

@mixin absolute-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
