.divider {
	display: block;
	height: 1px;
	background-color: #e0e0e0;
	width: 100%;
	margin: 0;
}

.vertical {
	display: block;
	align-self: stretch;
	background-color: #e0e0e0;
	width: 1px;
	height: inherit;
}
