@import 'src/scss/size.scss';
@import '/src/scss/lato.scss';

.iconContainer {
  position: relative;
  @include resM((
      width: 14.3px,
      height: 15.6px,
      top: -1.3px,
      left: 2px,
    ));
  @include resD((
      width: 14.3px,
      height: 15.6px,
      top: -1.3px,
      left: 2px,
  ));
}

.tickIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include resM((
      width: 20.7px,
      height: 15.2px,
      top: -1.3px,
      left: 2px,
    ));
  @include resD((
      width: 20.7px,
      height: 15.2px,
      top: -1.3px,
      left: 2px,
  ));
}
